@import url(./css/vars_and_imports.css);
@import url(./css/reset.css);


@-webkit-keyframes eira-gradient {
  0%{background-position:0% 15%}
  50%{background-position:100% 86%}
  100%{background-position:0% 15%}
}
@-moz-keyframes eira-gradient {
  0%{background-position:0% 15%}
  50%{background-position:100% 86%}
  100%{background-position:0% 15%}
}
@-o-keyframes eira-gradient {
  0%{background-position:0% 15%}
  50%{background-position:100% 86%}
  100%{background-position:0% 15%}
}
@keyframes eira-gradient {
  0%{background-position:0% 15%}
  50%{background-position:100% 86%}
  100%{background-position:0% 15%}
}

body {
  -webkit-animation: eira-gradient 40s ease infinite;
  -moz-animation: eira-gradient 40s ease infinite;
  -o-animation: eira-gradient 40s ease infinite;
  animation: eira-gradient 40s ease infinite;
  background: #ffffff;
  background: linear-gradient(136deg, var(--eira-color2-3), var(--eira-color3), var(--eira-color2-3));
  background-size: 600vh 600vw;
  color: var(--eira-color4);
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 1.3rem;
}

a {
  color: var(--eira-color1);
  text-decoration: none;
}

.teaser-logo {
  margin-top: calc(50vh - 250px);
  text-align: center;
}

.teaser-logo > img {
  width: 180px;
}

.teaser-logo > .logo {
  color: var(--eira-color1);
  font-family: 'Linden Hill', serif;
  font-size: 3.5rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.teaser-logo > .logo > small {
  display: block;
  font-size: 1.18rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  line-height: 3rem;
  text-transform: initial;
}

footer {
  margin-top: 3rem;
  text-align: center;
}

footer > svg {
  height: 2rem;
  width: 2rem;
}

footer > a {
  position: relative;
  top: -0.7rem;
}